*{
  color:#373435;
}
label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin: 10px;
}
.subhead{
  font-style:bold;

}
/* The sidenav */
.sidenav {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:white;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Page content */
.main {
  margin-left: 60px; /* Same as the width of the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  display: block;
  transition: 0.3s
}



